body {
    background-color: #D6C7B7;
}

.container {
  margin: 50px auto 0;
  width: 600px;
  clear: both;
}
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


.nav {
  background-color: #B4614F;
  height: 40px;  
  /*font-family: 'Nosifer', cursive;*/
  font-family: 'Orbitron', sans-serif;
}

#title {
  float: left;

}
#title a{
  text-decoration: none
}
#title h1 {
  margin: 0;
  padding: 0;
  color: white;
  line-height: 40px;
  text-transform: uppercase;
}

.navlist{
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
  line-height: 40px;

}
.navlist li {
  display: inline;
  padding-right: 20px;
}
.navlist a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.main{
  padding: 0px 20px 20px 20px;
}


/* Post format */
.post-title{
  padding-bottom: 5px;
  font-size: 1.5em;
}
.post-info{
  padding-bottom: 15px;
}

/* Profile Styling */ 

.column-wrapper{
  width: inherit;
}

.column-wrapper ul {
  padding: 0;
  list-style: none;
}
.column-wrapper li{
  padding-bottom: 5px;
}
.column-wrapper a{
  text-decoration: none;
  color: blue;
}

.post-column{
  width: 50%;
  float: left;
}

.comment-column{
  width: 50%;
  float: left;
}

.truncate {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-email {
  color: #777;
}

/* new post */
.new-post{
  background-color: #D6C7B7;
  border-radius: 4px;
  padding: 10px 0 10px 0;
  /*display: none;*/

}

.new-post-form{
  margin: 0 auto;
}

.form-title{
  margin: 0 auto;
  display: block;
  width: 300px;
}

.form-body{
  margin: 10px auto;
  display: block;
  width: 300px;
}
.form-submit{
  margin: 0 auto;
  display: block;
}

.comments li, .comments ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.vote_buttons p {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 13px;
}
