<div class="nav">
  <div id="title">
    <a href="/"><h1>Schlacker News</h1></a>
  </div>
  <nav>
    <ul class="navlist">
      <li><a href="#">Submit</a></li>
      <li><a href="#">Login / Register</a></li>
    </ul>
  </nav>
</div>