<div class="nav">
  <div id="title">
    <h1>HN Clone</h1>
  </div>
  <nav>
    <ul class="navlist">
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
    </ul>
  </nav>
</div>