
<div class='vote_buttons'>
  <form>
    <a class='up_vote' href=''><img src='http://i.imgur.com/TzDG7LN.png'></a>
    <p><%= item.post_value %></p>
  <a class='down_vote' href=''><img src='http://i.imgur.com/qNC47tQ.png'></a>  </form>
</div>
